input {
  background-color: transparent !important;
  color: white !important;
}

.title {
  position: relative;
  padding: 35px 0;
}
.title::after {
  content: "";
  width: 50%;
  height: 5px;
  background-color: gray;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.title::before {
  content: "";
  width: 50%;
  height: 5px;
  background-color: gray;
  position: absolute;
  top: 100%;
  left: 0;
}

a {
  color: white !important;
  text-decoration: none !important;
}


.item{
  border: 4px solid white !important;
  border-radius: 10px!important;
}

.vote{
  padding: 5px;
  border: none;
  border-radius: 10px;
  /* width: 20px !important; */
  /* height: 20px !important; */
  top: 5px;
  right: 10px;
}